## Settings file was created by plugin Hotbar Switch v0.1.1
## Plugin GUID: aedenthorn.HotbarSwitch

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 535
NexusID = 535

## Rows of inventory to switch via hotkey
# Setting type: Int32
# Default value: 2
RowsToSwitch = 2

## Hotkey to initiate switch. Use https://docs.unity3d.com/Manual/ConventionalGameInput.html
# Setting type: String
# Default value: `
HotKey = `

