## Settings file was created by plugin RunicPower v1.4.2
## Plugin GUID: fiote.mods.runicpower

[Casting]

## Define where the casting message should appear.
# Setting type: CastingMessage
# Default value: NORMAL
# Acceptable values: GLOBAL, NORMAL, SELF, NONE
Message = NONE

## Enables cooldowns when rune-casting.
# Setting type: Boolean
# Default value: true
Cooldowns = true

## Defines the max level that your alt classes can raise up to.
# Setting type: Int32
# Default value: 20
Class Control = 20

[General]

## NexusMods ID for updates.
# Setting type: Int32
# Default value: 840
NexusID = 840

[HotkeysBar]

## Enables the hotkey's bar (the one the bottom of the screen).
# Setting type: Boolean
# Default value: true
Enabled = false

## Adjusts the hotkey's bar size.
# Setting type: Int32
# Default value: 100
Scale = 1

## Adjust the hotkey's bar horizontal position (left/right).
# Setting type: Int32
# Default value: 0
OffsetX = 0

## Adjust the hotkey's bar vertical position (down/up).
# Setting type: Int32
# Default value: 0
OffsetY = 0

## Key modifier to use the runes.
# Setting type: KeyModifiers
# Default value: SHIFT
# Acceptable values: SHIFT, CTRL, ALT
Modifier = SHIFT

[Interface]

## Enables the 'Craft All' button on your crafting panel.
# Setting type: Boolean
# Default value: true
Craft All = false

## Enables the 'Rank Tab's on your crafting panel.
# Setting type: Boolean
# Default value: true
Rank Tabs = false

## Adjust the rank's buttons horizontal position (left/right).
# Setting type: Int32
# Default value: 0
RanksX = 0

## Adjust the rank's buttons vertical position (down/up).
# Setting type: Int32
# Default value: 0
RanksY = 0

[PVP]

## If enabled, this will count pvp-flagged players as enemies.
# Setting type: Boolean
# Default value: true
Enabled = false

[SpellsBar]

## Defines where the inventory spells' bar should appear.
# Setting type: InvBarPosition
# Default value: BOTTOM
# Acceptable values: TOP, BOTTOM
Position = BOTTOM

